@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent zoom on touch devices */
body {
  touch-action: pan-x pan-y;
  @apply font-poppins;
}
/* Prevent zooming with double-tap */
html, body {
  touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
